{% load static %} {% include '../navbar/index.html' %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'taskPage.css' %}" />
    <title>MiraCouncil | Tasks</title>
</head>

<body>
    <div class="container">
        <button type="button" class="btn btn-primary addTaskBtn" data-bs-toggle="modal"
            data-bs-target="#addTaskModal">Add Task</button>

        <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTaskModal">Add Task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'addTask' %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="taskNameInput" class="form-label">Task name</label>
                                <input type="text" class="form-control" id="taskNameInput" name="taskname">
                            </div>
                            <div class="mb-3">
                                <label for="deadlineInput" class="form-label">Deadline</label>
                                <input type="datetime-local" class="form-control" id="deadlineInput" name="deadline">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {% for task in tasks %}
            <div class="card">
                <div class="card-body">
                    <div class="header">
                        <h5 class="card-title"><b>{{ task.name }}</b></h5>
                        <h5 class="card-title">{{ task.author }}</h5>
                    </div>
                    <p class="card-text"><b>Deadline</b> {{ task.deadline }}</p>
                    <p class="card-text"><b>Created on </b><span class="badge bg-success">
                            {{ task.createdDate|naturaltime }}</span></p>
                    <div class="dropdown">
                        {% if task.status == 'to-do' %}
                        <button class="btn btn-danger dropdown-toggle" type="button" id="statusBtn"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ task.status }}
                        </button>
                        {% elif task.status == 'doing' %}
                        <button class="btn btn-warning dropdown-toggle" type="button" id="statusBtn"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ task.status }}
                        </button>
                        {% else %}
                        <button class="btn btn-success dropdown-toggle" type="button" id="statusBtn"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ task.status }}
                        </button>
                        {% endif %}
                        <a href="{% url 'deleteTask' id=task.id %}" class="btn btn-danger"><i
                                class="fas fa-trash"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="statusBtn">
                            <li><a class="dropdown-item"
                                    href="{% url 'updateTask' status='to-do' id=task.id %}">to-do</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'updateTask' status='doing' id=task.id %}">doing</a></li>
                            <li><a class="dropdown-item" href="{% url 'updateTask' status='done' id=task.id %}">done</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for message in messages %}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">MiraCouncil</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% endfor %}

            <script>
                window.onload = (event) => {
                    let myAlert = document.querySelectorAll('.toast')[0];
                    if (myAlert) {
                        let bsAlert = new bootstrap.Toast(myAlert);
                        bsAlert.show();
                    }
                };
            </script>
        </div>
    </div>
</body>

</html>